
<form [formGroup]="form">

    <div class="row" *ngIf="form.getModel().resultaat === 'Succes'">
        <div class="col-sm-12">
            <form-control-fieldset field="bekendadresgebruiken">
                <legend class="label legend-label">
                    <span uwvLabel [groupId]="labelGroupId" labelId="BekendAdresGebruiken"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </legend>

                <div class="radio radio-custom">
                    <label for="bekendadresgebruiken-ja">
                        <input id="bekendadresgebruiken-ja" name="bekendadresgebruiken" formControlName="bekendadresgebruiken" type="radio" value="ja">
                        <span uwvLabel [groupId]="labelGroupId" labelId="BekendAdresGebruikenJa"></span>
                    </label>
                </div>
                <div class="radio radio-custom">
                    <label for="bekendadresgebruiken-nee">
                        <input id="bekendadresgebruiken-nee" name="bekendadresgebruiken" formControlName="bekendadresgebruiken" type="radio" value="nee">
                        <span uwvLabel [groupId]="labelGroupId" labelId="BekendAdresGebruikenNee"></span>
                    </label>
                </div>
                <validation-message-for field="bekendadresgebruiken">
                    <validation-message error="RequiredExpressionValidator"> <span uwvLabel [groupId]="labelGroupId" labelId="BekendAdresGebruikenValidatie"></span></validation-message>
                </validation-message-for>
            </form-control-fieldset>
        </div>
    </div>

    <div class="row" *ngIf="form.getModel().resultaat === 'Fout' || form.getModel().resultaat === 'NietGevonden' || form.getModel().bekendadresgebruiken === 'nee'">
        <div class="col-sm-12">
            <form-control-fieldset field="adresbuitenland">
                <legend class="label legend-label">
                    <span uwvLabel [groupId]="labelGroupId" labelId="AdresBuitenland"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </legend>

                <div class="radio radio-custom">
                    <label for="adresbuitenland-ja">
                        <input id="adresbuitenland-ja" name="adresbuitenland" formControlName="adresbuitenland" type="radio" value="ja">
                        <span uwvLabel [groupId]="labelGroupId" labelId="AdresBuitenlandJa"></span>
                    </label>
                </div>
                <div class="radio radio-custom">
                    <label for="adresbuitenland-nee">
                        <input id="adresbuitenland-nee" name="adresbuitenland" formControlName="adresbuitenland" type="radio" value="nee">
                        <span uwvLabel [groupId]="labelGroupId" labelId="AdresBuitenlandNee"></span>
                    </label>
                </div>
                <validation-message-for field="adresbuitenland">
                    <validation-message error="RequiredExpressionValidator"><span uwvLabel [groupId]="labelGroupId" labelId="AdresBuitenlandValidatie"></span></validation-message>
                </validation-message-for>
            </form-control-fieldset>
        </div>
    </div>

    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' ||form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'nee') || (form.getModel().adresbuitenland === 'nee' && form.getModel().bekendadresgebruiken=== 'nee')">
        <div class="col-sm-3">
            <form-control-fieldset field="postcode">
                <label for="postcode" id="postcode">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Postcode"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </label>
                <input name="postcode" placeholder="1234AB" type="text" maxlength="6" id="txtPostcode" formControlName="postcode" class="form-control text-uppercase tntpostcode">

                <validation-message-for field="postcode">
                    <validation-message error="required"><span uwvLabel [groupId]="labelGroupId" labelId="PostcodeRequiredValidatie"></span></validation-message>
                    <validation-message error="postalcode"><span uwvLabel [groupId]="labelGroupId" labelId="GeldigPostcodeValidatie"></span></validation-message>
                </validation-message-for>
            </form-control-fieldset>
        </div>

        <div class="col-sm-3">
            <form-control-fieldset field="huisnummer">
                <label for="huisnummer" id="huisnummer">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Huisnummer"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </label>
                <input name="huisnummer" placeholder="Huisnummer" type="text" maxlength="5" id="txtHuisnummer" formControlName="huisnummer" class="form-control tnthuisnummer">

                <validation-message-for field="huisnummer">
                    <validation-message error="required"><span uwvLabel [groupId]="labelGroupId" labelId="HuisnummerRequiredValidatie"></span></validation-message>
                    <validation-message error="housenumber"><span uwvLabel [groupId]="labelGroupId" labelId="GeldigHuisnummerValidatie"></span></validation-message>
                </validation-message-for>

            </form-control-fieldset>
        </div>
        <div class="col-sm-3">
            <form-control-fieldset field="huisnummertoevoeging">
                <label for="huisnummertoevoeging" id="huisnummertoevoegingBinnenland"> <span uwvLabel [groupId]="labelGroupId" labelId="Toevoeging"></span></label>
                <input name="huisnummertoevoeging" placeholder="Toevoeging" type="text" maxlength="6" id="txtHuisnummerToevoeging" formControlName="huisnummertoevoeging" class="form-control">
            </form-control-fieldset>
        </div>
    </div>

    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' || form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'nee') || (form.getModel().adresbuitenland === 'nee' && form.getModel().bekendadresgebruiken=== 'nee')">
        
        <form-control-fieldset field="straat">
            <div class="col-sm-6">
                <label for="straat" id="straatBinnenland">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Straatnaam"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </label>
                <input name="straat" placeholder="Straatnaam" type="text" maxlength="24" id="txtStraatNaam" formControlName="straat" class="form-control mandatory tntstraatnaam">
            </div>
            <div class="col-sm-12">
                <validation-message-for field="straat">
                    <validation-message error="required"><span uwvLabel [groupId]="labelGroupId" labelId="StraatnaamRequiredValidatie"></span></validation-message>
                    <validation-message error="straat"><span uwvLabel [groupId]="labelGroupId" labelId="GeldigStraatnaamValidatie"></span> </validation-message>
                </validation-message-for>
            </div>
        </form-control-fieldset>
    </div>
    

    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' ||form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'nee') || (form.getModel().adresbuitenland === 'nee' && form.getModel().bekendadresgebruiken=== 'nee')">
        
        <form-control-fieldset field="woonplaats">
            <div class="col-sm-6">
                <label for="woonplaats" id="woonplaatsBinnenland">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Plaats"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </label>
                <input name="woonplaats" placeholder="Plaats" type="text" id="txtWoonplaats" formControlName="woonplaats" class="form-control mandatory tntplaats" maxlength="80">                
            </div>
            <div class="col-sm-12">
                <validation-message-for field="woonplaats">                
                    <validation-message error="required"><span uwvLabel [groupId]="labelGroupId" labelId="PlaatsRequiredValidatie"></span> </validation-message>
                    <validation-message error="woonplaats"><span uwvLabel [groupId]="labelGroupId" labelId="GeldigPlaatsValidatie"></span></validation-message>                    
                </validation-message-for>
            </div>
        </form-control-fieldset>
    </div>    

    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' || form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'ja') || (form.getModel().adresbuitenland === 'ja' && form.getModel().bekendadresgebruiken === 'nee')">
        <form-control-fieldset field="straat">
            <div class="col-sm-6">
                <label for="straat" id="straatBuitenland">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Straatnaam"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </label>
                <input name="straat" placeholder="Straatnaam" type="text" maxlength="24" id="txtStraatBuitenland" formControlName="straat" class="form-control mandatory tntstraatnaam">
            </div>
            <div class="col-sm-12">
                <validation-message-for field="straat">
                    <validation-message error="required"><span uwvLabel [groupId]="labelGroupId" labelId="StraatnaamRequiredValidatie"></span></validation-message>
                    <validation-message error="straat"><span uwvLabel [groupId]="labelGroupId" labelId="GeldigStraatnaamValidatie"></span></validation-message>                    
                </validation-message-for>
            </div>
        </form-control-fieldset>

    </div>


    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' || form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'ja') || (form.getModel().adresbuitenland === 'ja' && form.getModel().bekendadresgebruiken === 'nee')">
        <div class="col-sm-8">
            <form-control-fieldset field="locatieOmschrijving">
                <label for="locatieOmschrijving" id="locatieOmschrijving">
                    <span uwvLabel [groupId]="labelGroupId" labelId="LocatieOmschrijving"></span>
                </label>
                <input name="locatieOmschrijving" placeholder="Locatie omschrijving" type="text" maxlength="70" id="txtLocatieOmschrijving" formControlName="locatieOmschrijving" class="form-control">
            </form-control-fieldset>
        </div>
    </div>

    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' ||form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'ja') || (form.getModel().adresbuitenland === 'ja' && form.getModel().bekendadresgebruiken === 'nee')">        
        <form-control-fieldset field="huisnummerbuitenland">
            <div class="col-sm-3">
                <label for="huisnummerbuitenland" id="huisnummerBuitenland">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Huisnummer"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </label>
                <input name="huisnummerbuitenland" placeholder="Huisnummer" type="text" maxlength="9" id="txtHuisnummerBuitenland" formControlName="huisnummerbuitenland" class="form-control">
            </div>
            
            <div class="col-sm-12">
                <validation-message-for field="huisnummerbuitenland">                
                    <validation-message error="required"><span uwvLabel [groupId]="labelGroupId" labelId="HuisnummerRequiredValidatie"></span></validation-message>
                </validation-message-for>
            </div>
        </form-control-fieldset>
     </div>
 

    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' || form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === JaNeeEnum.ja) || (form.getModel().adresbuitenland === JaNeeEnum.ja && form.getModel().bekendadresgebruiken === JaNeeEnum.nee)">       
        <form-control-fieldset field="postcodebuitenland">
            <div class="col-sm-3">
                <label for="postcodebuitenland" id="postcodeBuitenland">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Postcode"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </label>
                <input name="postcodebuitenland" uwvLabel [groupId]="labelGroupId" labelId="PostcodeBuitenlandPlaceholder"  forAttr="placeholder" type="text" maxlength="9" id="txtPostcodeBuitenland" formControlName="postcodebuitenland" class="form-control text-uppercase">
            </div>            
            <div class="col-sm-12">
                <validation-message-for field="postcodebuitenland">
                    <validation-message error="required"> <span uwvLabel [groupId]="labelGroupId" labelId="PostcodeRequiredValidatie"></span></validation-message>
                    <validation-message error="postalcode"> <span uwvLabel [groupId]="labelGroupId" labelId="GeldigPostcodeValidatie"></span></validation-message>               
                </validation-message-for>
            </div>
        </form-control-fieldset>
    </div>


    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' ||form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'ja') || (form.getModel().adresbuitenland === 'ja' && form.getModel().bekendadresgebruiken === 'nee')">        
        <form-control-fieldset field="woonplaats">
            <div class="col-sm-6">
                <label for="woonplaats" id="woonplaatsBuitenland">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Plaats"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </label>
                <input name="woonplaats" placeholder="Plaats" type="text" maxlength="80" id="txtWoonplaatsBuitenland" formControlName="woonplaats" class="form-control">
            </div>
            <div class="col-sm-12">
                <validation-message-for field="woonplaats">
                    <validation-message error="required"><span uwvLabel [groupId]="labelGroupId" labelId="PlaatsRequiredValidatie"></span></validation-message>
                    <validation-message error="woonplaats"><span uwvLabel [groupId]="labelGroupId" labelId="GeldigPlaatsValidatie"></span></validation-message>
                </validation-message-for>
            </div>
        </form-control-fieldset>

    </div>


    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' || form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'ja') || (form.getModel().adresbuitenland === 'ja' && form.getModel().bekendadresgebruiken === 'nee')">
        <div class="col-sm-6">
            <form-control-fieldset field="regio">
                <label for="regio" id="regio">
                    <span uwvLabel [groupId]="labelGroupId" labelId="Regio"></span>
                </label>
                <input name="regio" placeholder="Regio" type="text" maxlength="32" id="txtRegioBuitenland" formControlName="regio" class="form-control">
            </form-control-fieldset>
        </div>        
    </div>

    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' || form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'ja') || (form.getModel().adresbuitenland === 'ja' && form.getModel().bekendadresgebruiken === 'nee')">
        
        <form-control-fieldset field="land">
        <div class="col-sm-6">
            <label for="land" id="landBuitenland">
                <span uwvLabel [groupId]="labelGroupId" labelId="Land"></span>
                <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
            </label>
            <input name="land" placeholder="Land" maxlength="40" type="text" id="txtLandBuitenland" formControlName="land" class="form-control">
        </div>
        <div class="col-sm-12">
            <validation-message-for field="land">
                <validation-message error="required"> <span uwvLabel [groupId]="labelGroupId" labelId="LandRequiredValidatie"></span></validation-message>                        
            </validation-message-for>
        </div>
        </form-control-fieldset>

    </div>

    <div class="row" *ngIf="
         ((form.getModel().adresbuitenland === 'nee' || form.getModel().adresbuitenland === null )) || (form.getModel().adresbuitenland === 'nee' && (form.getModel().bekendadresgebruiken=== 'nee') || form.getModel().bekendadresgebruiken=== 'ja') ">
        <form-control-fieldset field="telefoonnummer">
            <div class="col-sm-12">
                <label for="telefoonnummer" id="LblTelefoonNederland"><span uwvLabel [groupId]="labelGroupId" labelId="Telefoonnummer"></span></label>
            </div>
            <div class="col-xs-6 col-md-3">
                <input name="telefoonnummer" placeholder="Telefoonnummer" type="text" id="txtTelefoon" formControlName="telefoonnummer" maxlength="10" class="form-control telephone">
            </div>
            
            <div class="col-sm-12">
                <validation-message-for field="telefoonnummer">
                    <validation-message error="phonenumber"><span uwvLabel [groupId]="labelGroupId" labelId="OngeldigeTelefoonnummer"></span></validation-message>              
                </validation-message-for>        
            </div>
        </form-control-fieldset>
    </div>

    <div class="row" *ngIf="((form.getModel().resultaat === 'Fout' || form.getModel().resultaat === 'NietGevonden') && form.getModel().adresbuitenland === 'ja') || (form.getModel().adresbuitenland === 'ja' && form.getModel().bekendadresgebruiken === 'nee')">
        <form-control-fieldset field="telefoonnummerbuitenland">
            <div class="col-sm-12">
                <label for="telefoonnummerbuitenland" id="LblTelefoonBuitenland"><span uwvLabel [groupId]="labelGroupId" labelId="Telefoonnummer"></span></label>
            </div>
            <div class="col-xs-6 col-md-3">
                <input name="telefoonnummerbuitenland" placeholder="Telefoonnummer" type="text" id="txtTelefoonnummerBuitenland" maxlength="25" formControlName="telefoonnummerbuitenland" class="form-control telephone">
            </div>
            <div class="col-sm-12">
                <validation-message-for field="telefoonnummerbuitenland">
                    <validation-message error="phonenumber"><span uwvLabel [groupId]="labelGroupId" labelId="OngeldigeTelefoonnummer"></span></validation-message>                    
                </validation-message-for>
            </div>
        </form-control-fieldset>
    </div>


</form>
