<p>
</p>

<form [formGroup]="form">
    
    <div class="row">
        <div class="col-sm-12">
            <form-control-group field="datumVermoedelijkeBevalling">
                <legend class="label legend-label">
                    <label for="datumVermoedelijkeBevalling">Op welke datum bent u uitgerekend? <abbr class="uwv-required_mark" title="Verplicht">*</abbr></label>
                </legend>
                <date-picker geasocieerdeLabel="datumVermoedelijkeBevalling" class="form-group uwv-chain_duo" formControlName="datumVermoedelijkeBevalling" id="datumVermoedelijkeBevalling"
                                [placeholder]="'dd-mm-jjjj'" 
                                [options]="utilities.datePickerOptions()" (dateChanged)="onDatumChanged($event)">
                </date-picker>
                <validation-message-for field="datumVermoedelijkeBevalling">
                    <validation-message error="date">Er is een ongeldige uitgerekende datum ingevuld.</validation-message>
                    <validation-message error="required">Er is niet ingevuld wat uw uitgerekende datum is.</validation-message>
                    <validation-message error="toekomst">De ingevoerde datum mag niet in de toekomst liggen.</validation-message>                 
                </validation-message-for>
            </form-control-group>
        </div>
    </div>
    

    <div class="row">
        <div class="col-sm-12">
            <form-control-fieldset field="bevallen">
                <legend class="label legend-label">Bent u al bevallen?
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*
                    <span class="uwv-abbr_title">Verplicht</span>                
                    </abbr>
                </legend>
            <div class="radio radio-custom">
                <label for="bevallen-ja">
                    <input id="bevallen-ja" name="bevallen" formControlName="bevallen" type="radio" value="ja">
                    <span>Ja</span>
                </label>
            </div>
            <div class="radio radio-custom">
                <label for="bevallen-nee">
                    <input id="bevallen-nee" name="bevallen" formControlName="bevallen" type="radio" value="nee">
                    <span>Nee</span>
                </label>
            </div>
            <validation-message-for field="bevallen">
                <validation-message error="required">Er is niet aangegeven of u al bevallen bent.</validation-message>
            </validation-message-for>
            </form-control-fieldset>
        </div>
    </div>

    <div class="row" *ngIf="form.getModel().bevallen === 'ja'">
        <div class="col-sm-12">
            <form-control-group field="datumBevalling">
                <legend class="label legend-label">
                    <label for="datumBevalling">Wat was de bevallingsdatum? <abbr class="uwv-required_mark" title="Verplicht">*</abbr></label>
                </legend>
                <date-picker geasocieerdeLabel="datumBevalling" class="form-group uwv-chain_duo" formControlName="datumBevalling" id="datumBevalling"
                                [placeholder]="'dd-mm-jjjj'" [attr.data-ta-id]="'periode-bezwaardatum'"
                                [options]="utilities.datePickerOptions()" (dateChanged)="onDatumChanged($event)">
                </date-picker>
                <validation-message-for field="datumBevalling">
                    <validation-message error="date">Er is een ongeldige bevallingsdatum ingevuld.</validation-message>
                    <validation-message error="RequiredExpressionValidator">Er is niet ingevuld wat uw bevallingsdatum is.</validation-message>
                    <validation-message error="toekomst">De ingevoerde datum mag niet in de toekomst liggen.</validation-message>
                </validation-message-for>
            </form-control-group>
        </div>
    </div>

<div class="row" *ngIf="form.getModel().bevallen === 'ja'">
    <div class="col-sm-12">
        <form-control-fieldset field="kindOverleden">
            <legend class="label legend-label">
                <label for="kindOverleden">Geef aan of één van onderstaande situaties voor u geldt</label>
            </legend>
            <div class="checkbox checkbox-custom">
                <label>
                    <input type="checkbox" id="kindOverleden"
                           formControlName="kindOverleden"                                                      
                           [attr.data-ta-id]="'kindOverleden'" />
                    <span>Mijn baby is voor of tijdens de bevalling overleden</span>
                </label>
            </div>
        </form-control-fieldset>
    </div>
</div>


    <div class="row">
        <div class="col-sm-12">
            <form-control-fieldset *ngIf="
                valideIDateModel(form.getModel().datumVermoedelijkeBevalling) 
                && (form.getModel().bevallen === 'nee' || (form.getModel().bevallen === 'ja' && form.getModel().datumBevalling !== null && !form.vroeggeboorte()))" field="keuzeStartUitkering">
                <legend class="label legend-label">Wanneer wilt u dat de zwangerschapsuitkering begint? 
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*
                    <span class="uwv-abbr_title">Verplicht</span>                
                    </abbr>
                </legend>
                <div class="radio radio-custom">
                    <label for="keuze-startuitkering-begin">
                        <input id="keuze-startuitkering-begin" name="keuzeStartUitkering" formControlName="keuzeStartUitkering" type="radio" value="begin">
                        <span>{{ meerling ? 10 : 6 }} weken voor dag na uitgerekende datum: {{ form.flexibiliseringsperiode().min | date: 'EEEE d LLLL yyyy' }}  </span>
                    </label>
                </div>
                <div class="radio radio-custom">
                    <label for="keuze-startuitkering-eind">                        
                        <input id="keuze-startuitkering-eind" name="keuzeStartUitkering" formControlName="keuzeStartUitkering" type="radio" value="eind">
                        <span *ngIf="equalDates(form.flexibiliseringsperiodeMetDatumBevalling().max, form.flexibiliseringsperiode().max)">
                            {{ meerling ? 8 : 4 }} weken voor dag na uitgerekende datum: {{ form.flexibiliseringsperiode().max | date: 'EEEE d LLLL yyyy' }}  
                        </span>
                        <span *ngIf="!equalDates(form.flexibiliseringsperiodeMetDatumBevalling().max, form.flexibiliseringsperiode().max)">
                            U bent al bevallen. U kunt uiterlijk {{ form.flexibiliseringsperiodeMetDatumBevalling().max | date: 'EEEE d LLLL yyyy' }} uw uitkering laten ingaan. 
                        </span>
                    </label>
                </div>
                <div class="radio radio-custom">
                    <label for="keuze-startuitkering-anders">
                        <input id="keuze-startuitkering-anders" name="keuzeStartUitkering" formControlName="keuzeStartUitkering" type="radio" value="anders">
                        <span>Anders, namelijk op</span>                            
                    </label>
                    <ng-container *ngIf="form.getModel().keuzeStartUitkering === 'anders'">
                    <date-picker style="margin-left: 15px" geasocieerdeLabel="datumuitkering" class="form-group uwv-chain_duo" formControlName="datumUitkering" id="datumuitkering"
                            [placeholder]="'dd-mm-jjjj'" 
                            [options]="utilities.datePickerOptions()" (dateChanged)="onDatumChanged($event)">
                    </date-picker>
                    <validation-message-for field="datumUitkering">
                        <validation-message error="date">Er is een ongeldige uitkeringsdatum ingevuld.</validation-message>
                        <validation-message error="RequiredExpressionValidator">Er is niet ingevuld wanneer u de uitkering wilt laten ingaan.</validation-message>
                        <validation-message error="DatumUitkeringNietValide" *ngIf="equalDates(form.flexibiliseringsperiodeMetDatumBevalling().max, form.flexibiliseringsperiode().max)">De ingangsdatum van de zwangerschapsuitkering moet ingaan tussen 6 en 4 weken vóór de dag na uw uitgerekende datum. Dat is tussen {{ form.flexibiliseringsperiode().min | date: 'EEEE d LLLL yyyy' }} en {{ form.flexibiliseringsperiode().max | date: 'EEEE d LLLL yyyy' }}.</validation-message>
                        <validation-message error="DatumUitkeringNietValide" *ngIf="!equalDates(form.flexibiliseringsperiodeMetDatumBevalling().max, form.flexibiliseringsperiode().max)">U bent al bevallen. De ingangsdatum van de zwangerschapsuitkering moet ingaan tussen {{ form.flexibiliseringsperiodeMetDatumBevalling().min | date: 'EEEE d LLLL yyyy' }} en {{ form.flexibiliseringsperiodeMetDatumBevalling().max | date: 'EEEE d LLLL yyyy' }}.</validation-message>
                    </validation-message-for>
                    </ng-container>
                </div>
                <validation-message-for field="keuzeStartUitkering">
                    <validation-message error="RequiredExpressionValidator">Er is niet ingevuld wanneer u de uitkering wilt laten ingaan.</validation-message>
                </validation-message-for>
            </form-control-fieldset>
            
            <span *ngIf="form.getModel().bevallen === 'ja' && form.vroeggeboorte()">
                <div class="form-control-help text-warning" style="display: block;">
                    <span class="icon icon-sm icon-help-warning"></span>                                    
                    Omdat u al bent bevallen gaat uw verlof automatisch 1 dag na uw bevalling in.
                </div>
            </span>
        </div>
    </div>
    <ng-container *ngIf="stappenVariant == StappenVariantEnum.ww">
        <hr>
        <form-control-fieldset field="keuzeStartUitkering">
            <div class="checkbox checkbox-custom">
                <label for="intentieverklaring">
                    <input id="intentieverklaring" type="checkbox" name="intentieverklaring" formControlName="intentieverklaring">
                        <span>
                        Ik geef op dit formulier juiste en volledige informatie over mijzelf en mijn situatie.
                        <abbr class="uwv-required_mark" title="Verplicht">*<span class="uwv-abbr_title">Verplicht</span></abbr>
                    </span>
                </label>
            </div>
            <validation-message-for field="intentieverklaring">
                <validation-message error="RequiredExpressionValidator">Er moet een akkoord worden gegeven op de intentieverklaring.</validation-message>
            </validation-message-for>
        </form-control-fieldset>
    </ng-container>
</form>
