<form [formGroup]="form">
    <div class="row">
        <div class="col-sm-12">
            <form-control-group field="datumVermoedelijkeBevalling">
                <legend class="label legend-label">
                    <label for="datumVermoedelijkeBevalling">
                        <span uwvLabel [groupId]="labelGroupId" labelId="UitgerekendDatum"></span>
                        <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                    </label>
                </legend>
                <date-picker geasocieerdeLabel="datumVermoedelijkeBevalling" class="form-group uwv-chain_duo" formControlName="datumVermoedelijkeBevalling" id="datumVermoedelijkeBevalling"
                             [placeholder]="'dd-mm-jjjj'"
                             [options]="utilities.datePickerOptions()" (dateChanged)="onDatumChanged($event)">
                </date-picker>
                <validation-message-for field="datumVermoedelijkeBevalling">
                    <validation-message error="date"><span uwvLabel [groupId]="labelGroupId" labelId="OngeldigeUitgerekendDatum"></span></validation-message>
                    <validation-message error="datumVerplicht"><span uwvLabel [groupId]="labelGroupId" labelId="NietIngevuldUitgerekendDatum"></span></validation-message>
                    <validation-message error="toekomst"><span uwvLabel [groupId]="labelGroupId" labelId="NietToekomstUitgerekendDatum"></span></validation-message>
                </validation-message-for>
            </form-control-group>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form-control-fieldset field="bevallen">
                <legend class="label legend-label">
                    <span uwvLabel [groupId]="labelGroupId" labelId="AlBevallen"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </legend>
                <div class="radio radio-custom">
                    <label for="bevallen-ja">
                        <input id="bevallen-ja" name="bevallen" formControlName="bevallen" type="radio" value="ja">
                        <span uwvLabel [groupId]="labelGroupId" labelId="AlBevallenJa"></span>
                    </label>
                </div>
                <div class="radio radio-custom">
                    <label for="bevallen-nee">
                        <input id="bevallen-nee" name="bevallen" formControlName="bevallen" type="radio" value="nee">
                        <span uwvLabel [groupId]="labelGroupId" labelId="AlBevallenNee"></span>
                    </label>
                </div>
                <validation-message-for field="bevallen">
                    <validation-message error="required">  <span uwvLabel [groupId]="labelGroupId" labelId="BevallenNietAangegeven"></span></validation-message>
                </validation-message-for>
            </form-control-fieldset>
        </div>
    </div>

    <ng-container *ngIf="sectieBevallingZichtbaar()">
        <div class="row">
            <div class="col-sm-12">
                <form-control-group field="datumBevalling">
                    <legend class="label legend-label">
                        <label for="datumBevalling">
                            <span uwvLabel [groupId]="labelGroupId" labelId="WanneerBevallen"></span>
                            <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                        </label>
                    </legend>
                    <date-picker geasocieerdeLabel="datumBevalling" class="form-group uwv-chain_duo" formControlName="datumBevalling" id="datumBevalling"
                                [placeholder]="'dd-mm-jjjj'" [attr.data-ta-id]="'periode-bezwaardatum'"
                                [options]="utilities.datePickerOptions()" (dateChanged)="onDatumChanged($event)">
                    </date-picker>
                    <validation-message-for field="datumBevalling">
                        <validation-message error="date"><span uwvLabel [groupId]="labelGroupId" labelId="OngeldigeBevallingsDatum"></span></validation-message>
                        <validation-message error="datumVerplicht"><span uwvLabel [groupId]="labelGroupId" labelId="NietIngevuldBevallingsDatum"></span></validation-message>
                        <validation-message error="toekomst"><span uwvLabel [groupId]="labelGroupId" labelId="NietToekomstBevallingsDatum"></span></validation-message>
                    </validation-message-for>
                </form-control-group>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <form-control-fieldset field="kindOverleden">
                    <legend class="label legend-label">
                        <label for="kindOverleden"><span uwvLabel [groupId]="labelGroupId" labelId="OnderstaandeSituaties"></span></label>
                    </legend>
                    <div class="checkbox checkbox-custom">
                        <label>
                            <input type="checkbox" id="kindOverleden"
                                formControlName="kindOverleden"
                                [attr.data-ta-id]="'kindOverleden'" />
                            <span uwvLabel [groupId]="labelGroupId" labelId="BabyOverleden"></span>
                        </label>
                    </div>
                </form-control-fieldset>
            </div>
        </div>
    </ng-container>

    <div class="row">
        <div class="col-sm-12">
            <form-control-fieldset *ngIf="keuzeStartUitkeringZichtbaar()" field="keuzeStartUitkering">
                <legend class="label legend-label">
                    <span uwvLabel [groupId]="labelGroupId" labelId="BeginZwangerschapsuitkering"></span>
                    <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
                </legend>
                <div class="radio radio-custom">
                    <label for="keuze-startuitkering-begin">
                        <input id="keuze-startuitkering-begin" name="keuzeStartUitkering" formControlName="keuzeStartUitkering" type="radio" value="begin">
                        <span>{{ meerling ? 10 : 6 }}  <span uwvLabel [groupId]="labelGroupId" labelId="AantalWeken"></span> {{ form.flexibiliseringsperiode().min | date: 'EEEE d LLLL yyyy' }}  </span>
                    </label>
                </div>
                <div class="radio radio-custom">
                    <label for="keuze-startuitkering-eind">
                        <input id="keuze-startuitkering-eind" name="keuzeStartUitkering" formControlName="keuzeStartUitkering" type="radio" value="eind">
                        <span *ngIf="equalDates(form.flexibiliseringsperiodeMetDatumBevalling().max, form.flexibiliseringsperiode().max)">
                            {{ meerling ? 8 : 4 }}  <span uwvLabel [groupId]="labelGroupId" labelId="AantalWeken"></span>  {{ form.flexibiliseringsperiode().max | date: 'EEEE d LLLL yyyy' }}
                        </span>
                        <span *ngIf="!equalDates(form.flexibiliseringsperiodeMetDatumBevalling().max, form.flexibiliseringsperiode().max)">
                            <span uwvLabel [groupId]="labelGroupId" labelId="UBentBevallen"></span>
                            <span uwvLabel [groupId]="labelGroupId" labelId="Uiterlijk"></span> {{ form.flexibiliseringsperiodeMetDatumBevalling().max | date: 'EEEE d LLLL yyyy' }}
                            <span uwvLabel [groupId]="labelGroupId" labelId="IngaanUitkering"></span>
                        </span>
                    </label>
                </div>
                <div class="radio radio-custom">                    
                    <label for="keuze-startuitkering-anders">
                        <input id="keuze-startuitkering-anders" name="keuzeStartUitkering" formControlName="keuzeStartUitkering" type="radio" value="anders">
                        <span uwvLabel [groupId]="labelGroupId" labelId="AndersOp"></span>
                    </label>
                    <ng-container *ngIf="form.getModel().keuzeStartUitkering === KeuzeStartUitkeringEnum.Anders">                        
                        <date-picker style="margin-left: 15px" geasocieerdeLabel="datumuitkering" class="form-group uwv-chain_duo" formControlName="datumUitkering" id="datumuitkering"
                                     [placeholder]="'dd-mm-jjjj'"
                                     [options]="utilities.datePickerOptions()" (dateChanged)="onDatumChanged($event)">
                        </date-picker>
                        <validation-message-for field="datumUitkering">
                            <validation-message error="date"> <span uwvLabel [groupId]="labelGroupId" labelId="OngeldigeUitgerekendDatum"></span></validation-message>
                            <validation-message error="datumVerplicht"> <span uwvLabel [groupId]="labelGroupId" labelId="IngaanUitkeringNietIngevuld"></span></validation-message>
                            <validation-message error="DatumUitkeringNietValide" *ngIf="equalDates(form.flexibiliseringsperiodeMetDatumBevalling().max, form.flexibiliseringsperiode().max)">
                                <span uwvLabel [groupId]="labelGroupId" labelId="ingangsdatumWeken" *ngIf="!meerling"></span>
                                <span uwvLabel [groupId]="labelGroupId" labelId="ingangsdatumWekenMeerling" *ngIf="meerling"></span>
                                Dat is tussen {{ form.flexibiliseringsperiode().min | date: 'EEEE d LLLL yyyy' }} en {{ form.flexibiliseringsperiode().max | date: 'EEEE d LLLL yyyy' }}.
                            </validation-message>
                            <validation-message error="DatumUitkeringNietValide" *ngIf="!equalDates(form.flexibiliseringsperiodeMetDatumBevalling().max, form.flexibiliseringsperiode().max)">
                                <span uwvLabel [groupId]="labelGroupId" labelId="ingangsdatumPeriode"></span> {{ form.flexibiliseringsperiodeMetDatumBevalling().min | date: 'EEEE d LLLL yyyy' }} en {{ form.flexibiliseringsperiodeMetDatumBevalling().max | date: 'EEEE d LLLL yyyy' }}.
                            </validation-message>
                        </validation-message-for>
                    </ng-container>
                </div>
                <validation-message-for field="keuzeStartUitkering">
                    <validation-message error="RequiredExpressionValidator"><span uwvLabel [groupId]="labelGroupId" labelId="keuzeStartUitkeringValidatie"></span></validation-message>
                </validation-message-for>
            </form-control-fieldset>

            <span *ngIf="form.vroeggeboorte()">
                <div class="form-control-help text-warning">
                    <p>
                        <span class="icon icon-sm icon-help-warning"></span>
                        <span uwvLabel [groupId]="labelGroupId" labelId="VroeggeboorteJa"></span>
                    </p>
                </div>
            </span>

            <ng-container *ngIf="uitkeringsdatumOuderDanEenJaar()">
                <div class="form-control-help text-warning">
                    <p>
                        <span class="icon icon-sm icon-help-warning"></span>
                        <span uwvLabel [groupId]="labelGroupId" labelId="UitkeringsdatumOuderDanEenJaar"></span>
                    </p>
                </div>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="stappenVariant == StappenVariantEnum.ww">
        <legend class="label legend-label">
            <span uwvLabel [groupId]="labelGroupId" labelId="IntentieVerklaring"></span>
            <abbr class="uwv-required_mark" aria-label="Verplicht" title="verplicht">*</abbr>
        </legend>
        <form-control-fieldset field="keuzeStartUitkering">
            <div class="checkbox checkbox-custom">
                <label for="intentieverklaring">
                    <input id="intentieverklaring" type="checkbox" name="intentieverklaring" formControlName="intentieverklaring">
                    <span>
                        <span uwvLabel [groupId]="labelGroupId" labelId="IntentieVerklaringMelding"></span>   
                    </span>
                </label>
            </div>
            <validation-message-for field="intentieverklaring">
                <validation-message error="RequiredExpressionValidator"> <span uwvLabel [groupId]="labelGroupId" labelId="IntentieVerklaringValidatie"></span></validation-message>
            </validation-message-for>
        </form-control-fieldset>
    </ng-container>

    <ng-container *ngIf="!!params['debug']">
        Debuginformatie:<br />
        uitkeringsjaar = {{ uitkeringsjaar() | json }}<br />
        uitkeringsdatum = {{ uitkeringsdatum() | date: 'EEEE d LLLL yyyy' }}<br />
    </ng-container>
</form>
